<%- include("./partials/header") %>

<div id="page">
    <div id="footer-bar" class="footer-bar-1">
        <a href="/board"><i class="fa fa-window-restore"></i><span>소식지</span></a>
        <a href="/main"><i class="fa fa-home"></i><span>홈</span></a>
        <a href="/gugocup" class="active-nav"><i class="fa fa-futbol"></i><span>구고컵</span></a>
    </div>  

    <div class="card card-style mx-0 rounded-0 position-fixed" data-card-height="450" style="top:0px; width:100%; background-image: url(/index/img/guri2.jpg);">
        <div class="card-bottom mb-4 no-click">
            <div class="content no-click">
                <span class="bg-highlight px-2 py-1 font-10 rounded-xs text-uppercase font-600">council Events</span>
                <h1 class="color-white mt-1">GUGOCUP 2024</h1>
                <h2 class="color-white opacity-60 font-13 mt-n2 font-400">많은점이 바뀐 구고컵이 돌아왔습니다. 준비되셨나요?</h2>
            </div>
        </div>
        <div class="card-overlay bg-gradient rounded-0"></div>
    </div>
    <div class="card card-style bg-transparent shadow-0 no-click" data-card-height="390"></div>

    <div class="page-content pb-0 mb-4">
        <div class="card card-style mx-0">
            <div class="divider mx-auto mt-3 bg-gray-dark opacity-30 rounded-s mb-n1" style="height:5px; width:50px;"></div>
            <div class="content">
                <div class="d-flex px-3 pb-3">
                    <div class="align-self-center">
                        <h4 class="mb-0">경기 스케줄</h4>
                        <p class="mt-n1 mb-0">
                            남은 경기들을 확인하세요!
                        </p>
                    </div>
                    <div class="align-self-center ms-auto">
                        <a href="/gugocup/schedule" class="font-12">모두 보기</a>
                    </div>
                </div>
                <div>
                    <div class="splide__track">
                        <div class="splide__list">
                            <% if (todaySchedule.length === 0) { %>
                                <div class="splide__slide px-3">
                                    <div class="mb-3 text-center">
                                        <p class="font-16 color-theme">[ 오늘은 경기가 없습니다 ]</p>
                                    </div>
                                </div>
                            <% } else { %>
                                <% todaySchedule.forEach(schedule => { %>
                                    <div class="splide__slide px-3">
                                        <div class="mb-3">
                                            <a href="#" class="d-flex">
                                                <div>
                                                    <img src="/gugocup/logo_blue.png" class="rounded-sm me-3" width="70">
                                                </div>
                                                <div>
                                                    <span class="color-highlight font-300 d-block pt-0 text-uppercase font-10">
                                                        <%= new Date(schedule.date).toLocaleDateString('ko-KR', { month: 'long', day: 'numeric' }) %> 점심시간
                                                    </span>
                    
                                                    <strong class="color-theme font-16 d-block mt-n2">
                                                        <%= schedule.team1.grade %>-<%= schedule.team1.class %> vs <%= schedule.team2.grade %>-<%= schedule.team2.class %>
                                                    </strong>
                                                                    
                                                    <span class="font-11 d-block mb-n1 color-theme opacity-30">
                                                        <i class="fa fa-map-marker pe-2"></i>
                                                        구리고등학교 운동장
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } %>
                        </div>
                    </div>
                    
                </div>

                <div class="divider divider-margins"></div>
                
                <div class="d-flex px-3 pb-3">
                    <div class="align-self-center">
                        <h4 class="mb-0">끝난 경기</h4>
                        <p class="mt-n1 mb-0">
                            이전 경기결과들을 확인하세요!
                        </p>
                    </div>
                    <div class="align-self-center ms-auto">
                        <a href="/gugocup/match" class="font-12">모두 보기</a>
                    </div>
                </div>
                <% allMatches.forEach(match => { %>
                    <div class="d-flex px-2 mb-3">
                        <div>
                            <img src="/gugocup/logo_gray.png" 
                                class="rounded-sm me-3 mt-3" width="55">
                        </div>
                        <div>
                            <span class="color-highlight font-300 d-block pt-2 text-uppercase font-10">
                                <%= new Date(match.date).toLocaleDateString('ko-KR', { month: 'long', day: 'numeric' }) %> 점심시간
                            </span>
                            
                            <strong class="color-theme font-16 d-block mt-n2">
                                <%= match.team1.grade %>-<%= match.team1.class %> vs <%= match.team2.grade %>-<%= match.team2.class %>
                                <span style="color: #75708579">(<%= match.score.team1 %> : <%= match.score.team2 %>)</span>
                            </strong>
                            
                            <span class="font-11 d-block mb-n1">
                                <%= match.score.team1 > match.score.team2 ? `${match.team1.grade}학년 ${match.team1.class}반 승리` : 
                                    match.score.team1 < match.score.team2 ? `${match.team2.grade}학년 ${match.team2.class}반 승리` : '무승부' %>
                            </span>
                        </div>
                        <div class="align-self-center ms-auto">
                            <a href="/gugocup/match/<%= match._id %>" class="btn btn-xs bg-blue-dark rounded-sm text-uppercase font-400">
                                자세히 보기
                            </a>
                        </div>
                    </div>
                <% }); %>

                <div class="divider divider-margins"></div>

                <div class="d-flex px-3 pb-3">
                    <div class="align-self-center">
                        <h4 class="mb-0">조별 경기 현황</h4>
                        <p class="mt-n1 mb-0">
                            현재 조별경기 점수판을 확인하세요!
                        </p>
                    </div>
                </div>
                <div class="splide single-slider slider-no-arrows visible-slider slider-no-dots" id="single-slider-2">
                    <div class="splide__track">
                        <div class="splide__list">
                            <!-- A조 -->
                            <div class="splide__slide px-3">
                                <div class="card card-style p-3 mx-0">
                                    <a href="#" class="d-flex">
                                        <div>
                                            <img src="/gugocup/logo_blue.png" class="rounded-sm me-3" width="50">
                                        </div>
                                        <div>
                                            <p class="color-theme font-16 d-block mt-1 line-height-s">
                                                <strong>A조</strong><br>
                                                <span style="color: gray;">
                                                    <% if (groupedStandings['A']) { %>
                                                        <% groupedStandings['A'].forEach((standing, index) => { %>
                                                            <span style="<%= index < 2 ? 'font-weight: bold' : '' %>" class="<%= index < 2 ? 'color-highlight' : '' %>">
                                                                <%= standing.team.grade %>학년 <%= standing.team.class %>반 (<%= standing.points %>)<br>
                                                            </span>
                                                        <% }); %>
                                                    <% } %>
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="card card-style p-3 mx-0">
                                    <a href="#" class="d-flex">
                                        <div>
                                            <img src="/gugocup/logo_blue.png" class="rounded-sm me-3" width="50">
                                        </div>
                                        <div>
                                            <p class="color-theme font-16 d-block mt-1 line-height-s">
                                                <strong>B조</strong><br>
                                                <span style="color: gray;">
                                                    <% if (groupedStandings['B']) { %>
                                                        <% groupedStandings['B'].forEach((standing, index) => { %>
                                                            <span style="<%= index < 2 ? 'font-weight: bold' : '' %>" class="<%= index < 2 ? 'color-highlight' : '' %>">
                                                                <%= standing.team.grade %>학년 <%= standing.team.class %>반 (<%= standing.points %>)<br>
                                                            </span>
                                                        <% }); %>
                                                    <% } %>
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="splide__slide px-3">
                                <div class="card card-style p-3 mx-0">
                                    <a href="#" class="d-flex">
                                        <div>
                                            <img src="/gugocup/logo_blue.png" class="rounded-sm me-3" width="50">
                                        </div>
                                        <div>
                                            <p class="color-theme font-16 d-block mt-1 line-height-s">
                                                <strong>C조</strong><br>
                                                <span style="color: gray;">
                                                    <% if (groupedStandings['C']) { %>
                                                        <% groupedStandings['C'].forEach((standing, index) => { %>
                                                            <span style="<%= index < 2 ? 'font-weight: bold' : '' %>" class="<%= index < 2 ? 'color-highlight' : '' %>">
                                                                <%= standing.team.grade %>학년 <%= standing.team.class %>반 (<%= standing.points %>)<br>
                                                            </span>
                                                        <% }); %>
                                                    <% } %>
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="card card-style p-3 mx-0">
                                    <a href="#" class="d-flex">
                                        <div>
                                            <img src="/gugocup/logo_blue.png" class="rounded-sm me-3" width="50">
                                        </div>
                                        <div>
                                            <p class="color-theme font-16 d-block mt-1 line-height-s">
                                                <strong>D조</strong><br>
                                                <span style="color: gray;">
                                                    <% if (groupedStandings['D']) { %>
                                                        <% groupedStandings['D'].forEach((standing, index) => { %>
                                                            <span style="<%= index < 2 ? 'font-weight: bold' : '' %>" class="<%= index < 2 ? 'color-highlight' : '' %>">
                                                                <%= standing.team.grade %>학년 <%= standing.team.class %>반 (<%= standing.points %>)<br>
                                                            </span>
                                                        <% }); %>
                                                    <% } %>
                                                </span>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                

                <div class="divider divider-margins"></div>

                <div class="d-flex px-3">
                    <div class="align-self-center">
                        <h4 class="mb-0">선수</h4>
                        <p class="mt-n1 mb-n2">
                            최고의 선수를 확인하세요!
                        </p>
                    </div>
                    <div class="align-self-center ms-auto">
                        <a href="/gugocup/player" class="font-12">모두 보기</a>
                    </div>
                </div>
                    <div class="content">
                        
                        <% allPlayers.forEach((player, index) => { %>
                            <div class="d-flex px-2 mb-3">
                                <div>
                                    <div class="align-self-center">
                                        <h1 class="pe-3 font-40 font-900 opacity-30"><%= index + 1 %></h1>
                                    </div>
                                </div>
                                <div>
                                    <div class="align-self-center ms-auto">
                                        <h4 class="mb-n1 font-15"><%= player.team.grade %>학년 <%= player.team.class %>반 <%= player.name %></h4>
                                        <% if (index === 0) { %>    
                                            <p class="font-10 px-2 py-1 badge bg-highlight color-white"><%= player.team.grade %>학년 <%= player.team.class %>반 / <%= player.goals %>골</p>
                                        <% } else { %>
                                            <p class="font-10 px-2 py-1 badge bg-gray-dark color-white"><%= player.team.grade %>학년 <%= player.team.class %>반 / <%= player.goals %> 골</p>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="align-self-center ms-auto">
                                    <a href="/gugocup/player/<%= player._id %>" class="btn btn-xs bg-blue-dark rounded-sm text-uppercase font-400">
                                        자세히 보기
                                    </a>
                                </div>
                            </div>
                        <% }) %>
                    </div>

                
            </div>
            
        </div>
    </div>
    <!-- End of Page Content-->

    <%- include("./partials/footer") %>