<%- include("./partials/header") %>

<script>swingWebViewPlugin.app.login.doAppLogin("<%= user.email.substring(0, user.email.indexOf('@')) %>","<%= user.name.replace(/\d+/g, '') %>"); </script>

<div id="page">
    <div id="footer-bar" class="footer-bar-1">
        <a href="/board" class="active-nav"><i class="fa fa-window-restore"></i><span>소식지</span></a>
        <a href="/main"><i class="fa fa-home"></i><span>홈</span></a>
        <a href="/point"><i class="fa fa-star"></i><span>구고포인트</span></a>
        <a href="" data-menu="menu-sidebar-right-1"><i class="fa fa-list-ul"></i><span>마이페이지</span></a>
    </div>


    <div class="page-content">
        
        <div class="card mb-0 rounded-0 bg-18" data-card-height="400">
            <div class="card-top notch-clear">
                <a href="/board" data-back-button class="icon icon-xl color-white font-15 font-700"><i class="fa fa-arrow-left color-white pt-2 font-14 me-n2"></i> 뒤로가기</a>
            </div>
            <div class="card-bottom p-3">
                <h1 class="color-white pt-2">
                    <%= post.title %>
                </h1>
            </div>
            <div class="card-overlay bg-gradient"></div>
        </div>

        <div class="card mb-0">
            <div class="content mt-2">
                <div class="d-flex mb-2">
                    <div class="me-auto"><span class="opacity-90 font-10"><i class="far fa-clock pe-2"></i><%= new Date(post.createdAt).toLocaleDateString() %></span></div>
                    <div class="mx-auto"><span class="opacity-90 font-10"><i class="far fa-comment pe-2"></i><%= post.author %> 작성</span></div>
                    <div class="ms-auto"><span class="opacity-90 font-10"><i class="far fa-comment pe-2"></i><%= post.view %> 조회</span></div>
                </div>
                <div class="divider mb-3"></div>
                    <%- post.html %>

            </div>
        </div>

    </div>
    <!-- End of Page Content-->

    <%- include("./partials/footer", { user }) %>